@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply hover:text-gray-500;
    }
    .prose h1 {
        margin-bottom: 2em;
    }
    .prose h2, .prose h3 {
        margin-top: 3em;
    }
    .prose h4 {
        margin-top: 2.5em;
        @apply italic;
    }
    .prose pre {
        padding: 0px;
        background: none;
        @apply border-t-2 border-t-gray-50 rounded-md block shadow-md;
    }
    .prose code .hljs-punctuation {
        @apply font-bold text-white;
    }
    .prose code .hljs-tag .hljs-attr,
    .prose code .hljs-tag .hljs-name {
        color: #fff;
    }
    .prose img {
        @apply border-t-2 border-t-gray-50 rounded-lg block shadow-lg;
    }
}
